#include <pgmspace.h>

#define SECRET
#define THINGNAME "M5StickC"

const char WIFI_SSID[] = "The Death Star";
const char WIFI_PASSWORD[] = "th@t'snom00n!";
const char AWS_IOT_ENDPOINT[] = "a35j0hjkbgyn96-ats.iot.us-east-2.amazonaws.com";

// Amazon Root CA 1
static const char AWS_CERT_CA[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
MIIDQTCCAimgAwIBAgITBmyfz5m/jAo54vB4ikPmljZbyjANBgkqhkiG9w0BAQsF
ADA5MQswCQYDVQQGEwJVUzEPMA0GA1UEChMGQW1hem9uMRkwFwYDVQQDExBBbWF6
b24gUm9vdCBDQSAxMB4XDTE1MDUyNjAwMDAwMFoXDTM4MDExNzAwMDAwMFowOTEL
MAkGA1UEBhMCVVMxDzANBgNVBAoTBkFtYXpvbjEZMBcGA1UEAxMQQW1hem9uIFJv
b3QgQ0EgMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALJ4gHHKeNXj
ca9HgFB0fW7Y14h29Jlo91ghYPl0hAEvrAIthtOgQ3pOsqTQNroBvo3bSMgHFzZM
9O6II8c+6zf1tRn4SWiw3te5djgdYZ6k/oI2peVKVuRF4fn9tBb6dNqcmzU5L/qw
IFAGbHrQgLKm+a/sRxmPUDgH3KKHOVj4utWp+UhnMJbulHheb4mjUcAwhmahRWa6
VOujw5H5SNz/0egwLX0tdHA114gk957EWW67c4cX8jJGKLhD+rcdqsq08p8kDi1L
93FcXmn/6pUCyziKrlA4b9v7LWIbxcceVOF34GfID5yHI9Y/QCB/IIDEgEw+OyQm
jgSubJrIqg0CAwEAAaNCMEAwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMC
AYYwHQYDVR0OBBYEFIQYzIU07LwMlJQuCFmcx7IQTgoIMA0GCSqGSIb3DQEBCwUA
A4IBAQCY8jdaQZChGsV2USggNiMOruYou6r4lK5IpDB/G/wkjUu0yKGX9rbxenDI
U5PMCCjjmCXPI6T53iHTfIUJrU6adTrCC2qJeHZERxhlbI1Bjjt/msv0tadQ1wUs
N+gDS63pYaACbvXy8MWy7Vu33PqUXHeeE6V/Uq2V8viTO96LXFvKWlJbYK8U90vv
o/ufQJVtMVT8QtPHRh8jrdkPSHCa2XV4cdFyQzR1bldZwgJcJmApzyMZFo6IQ6XU
5MsI+yMRQ+hDKXJioaldXgjUkK642M4UwtBV8ob2xJNDd2ZhwLnoQdeXeGADbkpy
rqXRfboQnoZsG4q5WTP468SQvvG5
-----END CERTIFICATE-----
)EOF";

// Device Certificate
static const char AWS_CERT_CRT[] PROGMEM = R"KEY(
-----BEGIN CERTIFICATE-----
MIIDWTCCAkGgAwIBAgIUM9dx0kB8UDSPrixkzVBq/RHYY3wwDQYJKoZIhvcNAQEL
BQAwTTFLMEkGA1UECwxCQW1hem9uIFdlYiBTZXJ2aWNlcyBPPUFtYXpvbi5jb20g
SW5jLiBMPVNlYXR0bGUgU1Q9V2FzaGluZ3RvbiBDPVVTMB4XDTIwMTIxMzE5NTkz
MFoXDTQ5MTIzMTIzNTk1OVowHjEcMBoGA1UEAwwTQVdTIElvVCBDZXJ0aWZpY2F0
ZTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKR2PfK3/vwtglh8jWuw
Jvl0rFWO/EjtsZstD/8OHS0nW1lnpyxUEIohW+rWnjQYAvrZvRZG86naRD+hb2qq
a0wc34SxLHg9FnbIU2/iXxs2yITNscA8yQD9YiB4HmQdeVgxcSDXw450Uz2yETU6
vEN6RG8x/gdAhtCnjos0Ls7b5GMz43t7w+HDBqdrmmK0aGvYPoWYf+HwaBVFTTQg
Zpu5lmK5GpHtr5Yb0I88ey/2yF3ODGyQ8mqiU/jvhr+6sAMSRDKAwEMX4IpmUqTw
ygC86efAJ43DuDwyQD7VJR/s9IndTS+yzBgJjU9P1lOcyIZahWQAG2zB2B27EePI
0uUCAwEAAaNgMF4wHwYDVR0jBBgwFoAU6XAKrgV6o/YTltRq+zdTLNH8QpYwHQYD
VR0OBBYEFFw5e1y4rxx6QqwZ6/Iafji+KAJoMAwGA1UdEwEB/wQCMAAwDgYDVR0P
AQH/BAQDAgeAMA0GCSqGSIb3DQEBCwUAA4IBAQASaSAnPYeYXxUcZHA0FhKYo3MV
k0MJrocJ0qsirT+El7ZkCBSndXlkn7YjKB99SfXlwrad8QBmV6z6ctoX1Sf1ZQJO
lzGwQOt60No9xQWd5u4Sx/v11/uv3Je139cmpf5Komj7A05kFcoQN47/MuNEh8JK
z2MTgMctPcYB0QKGi6R+VgUw4p2lcP44eF1M5CYfNujOI8z9lyVmozfI+jhliDAZ
ep0H8z67hArSbD3Ot64cSypR+z3KekxoVxLN2YL1IijJFIdYH5GwvtqSJrReZ5+m
vtH2+C+mk8Fg6rjJlHjLHm1EuwyCgJso7W655N7UEsims6/yaq+zIefs2xSM
-----END CERTIFICATE-----
)KEY";

// Device Private Key
static const char AWS_CERT_PRIVATE[] PROGMEM = R"KEY(
-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEApHY98rf+/C2CWHyNa7Am+XSsVY78SO2xmy0P/w4dLSdbWWen
LFQQiiFb6taeNBgC+tm9FkbzqdpEP6FvaqprTBzfhLEseD0WdshTb+JfGzbIhM2x
wDzJAP1iIHgeZB15WDFxINfDjnRTPbIRNTq8Q3pEbzH+B0CG0KeOizQuztvkYzPj
e3vD4cMGp2uaYrRoa9g+hZh/4fBoFUVNNCBmm7mWYrkake2vlhvQjzx7L/bIXc4M
bJDyaqJT+O+Gv7qwAxJEMoDAQxfgimZSpPDKALzp58AnjcO4PDJAPtUlH+z0id1N
L7LMGAmNT0/WU5zIhlqFZAAbbMHYHbsR48jS5QIDAQABAoIBADlQN6B5fLP3TCB4
L3Si68ItZc1fSg5EP4vbdWKmUYal25DZrYmmNildHMJHTtTKtWckMGAuE8ZSmUwv
fzuF7mSU/1Qnxl6Us1prz6ADHK/INLMLV/GtfUMKCoNUOQsctmgEuu7+Illnsoai
opqRQICngGfb3TI7y3+1lNhwNAvESKTGVLv9h32welkNbSgW8rvsqwve/L09DQiI
lWmNpbJAcTgScAUXblpicyYDL3avFWzwajG9ZmGeusj8vs/ZWa8D1e+gRiFtt7Bg
p2NUSEdWKVAKXYkUq6TI+raJF7r0UKW+T83xmNMeg7m+yOmiqn1ceZni9Xjumr2Y
oy2OZKECgYEA2NXOW5KzzSQn8Wb9m/lAm0q4tjjC7LHrN7TWPdNGAaHRr086R5Jv
gCSoB948+RcPLY60SGG2D+re9mEPfSYvEiXR+S10T1Tl2THFVeEkZ9NeiFj5HasC
j66T/GUkMwITK5UGGzRKtgivUP2MOqJj85LZ3Q88ZmI6RWRl5d1L7qkCgYEAwirC
M0osGUXWzbjFWoVWwtGRsgN7neDaq6sCyz/GZRyhJZUYtcr8Qg1Qb7LjfegYVB09
WkBH+sb+k+GRVLQ1o3Ez6GMwlNMdznigXL8vGsrCUtO0YWwYRuyYbkrs92gb8cGS
UlbbAJv8mSYIT7PTwoMiPtQ0D6ezKw/T2KPjU90CgYBaGy8vupzhKJ84n9XP1RpV
7g0oHBpUhfL7KTjGZF95GieqtD/BskaHd7Qj4ORxlnWGNwEP+xrPLokM1XS8SvvQ
jMrew1bMCLmjMh2Q/IhGZP2pp1+ORpw/3Qo+HkGWuMwClmD9ORO65Y0FGPgG/aiP
dXz3cfdljHgukfQOO5HsUQKBgCU8PfHID5zpH8Bj5rTtTS4fMmmI8XPdYxH4wZho
qotJaj3i0dJLEwU3uG0zSR0kHUZENTfRi/wznS6O22f7By5Iz0OJgg+ITPcDev1O
TKI+r/ViU/061Y0EYlcEV106weEi1gSkU2tSfqZ//KgMPFfY/gA+gZ1e86UWa/Hn
u/ihAoGATijnGbYxOKDUmX4Kg2Wl0Hvs3Myu/N7pre/v4PaegkHMSvwH7wWYxQUI
5dGhyoVqAvGh/Qvb2Ih/kNUBqgMG/+wQuqJmx6sFyzROlruKFA9ZFZUriXglSfOA
vPeTtRA7oLBo10058qqzHg4/uFQCX+loEkmRhcJ18z7DSjUUMqQ=
-----END RSA PRIVATE KEY-----
)KEY";